<header>
    <div id="logo-name"><a href="/">Habtify</a></div>
    <div id="other-page-link">
        <ul>
            <li><a href="/users/tracks-habits">TrackHabits</a></li>
            <li><a href="/users/weekViews">weekViews</a></li>
        </ul>
    </div>
</header>